<h2>One cat yo!</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Birth Date</th>
            <th>Sex</th>
            <th>Description</th>           
        </tr>
    </thead>
    <tr>
        <td><%=@cat.name%></td>
        <td><%=@cat.color%></td>
        <td><%=@cat.birth_date%></td>
        <td><%=@cat.sex%></td>
        <td><%=@cat.description%></td>
    </tr>
</table>

<a href="<%= edit_cat_url(@cat) %>">Edit <%= @cat.name %></a>
<a href="<%= cats_url %>">Home</a>